<footer>
  <div style="float:left">
    <a href="https://www.gbv.de/impressum">Verbundzentrale des GBV (VZG)</a>
  </div>
  <div style="float:right;text-align:right">
    <% if (locals.uri) { %>
      <a href="<%= relUri %>"><%= uri %></a>
      <br>
      &nbsp;<a href="<%= relUri %>?format=jskos">jskos</a>
      &nbsp;<a href="<%= relUri %>?format=turtle">turtle</a>
      &nbsp;<a href="<%= relUri %>?format=rdfxml">rdfxml</a>
      &nbsp;<a href="<%= relUri %>?format=nt">ntriples</a>
      <% if (locals.source) { %>
        <a href="<%= source %>" style="color:#999">source</a>
      <% } %>
    <% } %>
    <br>
    <a href="<%= homepage %>"><%= name %> <%= version %>
  </div>
</footer>
