<footer>
  <div style="float:left">
    <a href="https://www.gbv.de/impressum">Verbundzentrale des GBV (VZG)</a>
  </div>
  <div style="float:right;text-align:right">
    <% if (locals.uri) { %>
      <a href="<%= link(uri,namespace) %>"><%= uri %></a>
      <br>
      &nbsp;<a href="<%= link(uri,namespace,"jskos") %>">jskos</a>
      &nbsp;<a href="<%= link(uri,namespace,"turtle") %>">turtle</a>
      &nbsp;<a href="<%= link(uri,namespace,"rdfxml") %>">rdfxml</a>
      &nbsp;<a href="<%= link(uri,namespace,"ntriples") %>">ntriples</a>
      <% if (locals.source) { %>
        <a href="<%= source %>" style="color:#999">source</a>
      <% } %>
    <% } %>
    <br>
    <a href="<%= homepage %>"><%= name %> <%= version %>
  </div>
</footer>
