<header>
  <nav>
    <ul class="nav">
      <li class="brand">
        <% if (logo) { %>
        <img src="<%= namespace.pathname %>_public/<%= logo %>"/>
        <% } %>
        <a href="<%= namespace.pathname %>"><%= title || namespace.pathname %></a>
      </li>
      <li style="flex: 1"></li>
      <li>
        <a href="" onclick="document.cookie=`locale=<%= locale === 'en' ? 'de' : 'en' %>;samesite=lax;path=<%= namespace.pathname %>`"><%= locale %></a>
      </li>
      <li>
        <a href="<%= namespace.pathname %>about/">about</a>
      </li>
    </ul>
  </nav>
</header>
