<header>
  <nav>
    <ul class="nav">
      <li>
        <a href="<%= namespace.pathname %>">
        <% if (logo) { %>
          <img src="<%= namespace.pathname %>_public/<%= logo %>"/>
        <% } else { %>
          <%= title || namespace.pathname %>
        <% } %>
        </a>
      </li>
      <li style="flex: 1"></li>
      <li>
        <a href="" onclick="document.cookie=`locale=<%= locale === 'en' ? 'de' : 'en' %>;samesite=lax;path=<%= namespace.pathname %>`"><%= locale %></a>
      </li>
      <li>
        <a href="<%= namespace.pathname %>about/">about</a>
      </li>
    </ul>
  </nav>
</header>
