<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" crossorigin src="<%= root %>client.js"></script>
    <link rel="stylesheet" href="<%= root %>client.css">
    <link rel="stylesheet" href="<%= root %>style.css">
  </head>
  <body base="<%= base %>" api="<%= locals.api %>">
    <header>
      <nav>
        <ul class="nav">
        <% if (host && hostLabel) { %>
          <li>
            <a href="//<%= host %>"><%= hostLabel %></a>
          </li>
        <% } %>
          <li>
            <a href="<%= root %>"><%= rootLabel || root %></a>
          </li>
          <!-- TODO: add vocid, if known -->
        </ul>
        <!-- TODO: add help and language selector -->
      </nav>
    </header>
    <main>
      <% if (locals.uri) { %>
       <%- include("item") %>
      <% } else { %>
       <%- include("root") %>
      <% } %>
    </main>
    <%- include("footer") %>
  </body>
</html>

