<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (locals.uri) { %>
      <link rel="self" href="<%= uri %>">
    <% } %>
    <link rel="stylesheet" href="<%= namespace.pathname %>_vite/style.css">
    <% if (isProduction) { %>
      <!--production-header-->
    <% } else { %>
      <script type="module" src="<%= namespace.pathname %>_vite/@vite/client"></script>
      <script type="module" src="<%= namespace.pathname %>_vite/src/main.js"></script>
    <% } %>
  </head>
  <body data-namespace="<%= namespace %>" data-backend="<%= locals.backend %>">
    <%- include("header") %>
    <main>
      <% if (!locals.item) { %>
        <h2><%= title %></h2>
        <% if (locals.uri) { %>
          <p>
            <a href="<%= uri %>"><%= uri %></a> not found
          </p>
        <% } %>
      <% } %>
      <div id="app"></div>
    </main>
    <%- include("footer") %>
  </body>
  <% if (locals.item) { %>
    <script type="application/ld+json" id="item">
      <%- JSON.stringify(item).replaceAll('<','\u003C') %>
    </script>
  <% } %>
</html>
