<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" crossorigin src="/client.js"></script>
    <link rel="stylesheet" href="/client.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body base="<%= config.base %>" backend="<%= config.backend %>">
    <header>
      <nav>
        <ul class="nav">
        <% if (config.homeUrl) { %>
          <li>
            <a href="<%= config.homeUrl %>"><%= config.homeLabel || config.homeUrl %></a>
          </li>
        <% } %>
          <li>
            <a href="/"><%= config.baseLabel || config.base %></a>
          </li>
          <!-- TODO: add vocid, if known -->
        </ul>
        <!-- TODO: add help and language selector -->
      </nav>
    </header>
    <main>
      <% if(uri) { %>
       <%- include("item") %>
      <% } else { %>
       <%- include("root") %>
      <% } %>
    </main>
    <%- include("footer") %>
  </body>
</html>

