<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" crossorigin src="<%= root %>client.js"></script>
    <link rel="stylesheet" href="<%= root %>client.css">
    <link rel="stylesheet" href="<%= root %>style.css">
    <% if (locals.uri) { %>
      <link rel="self" href="<%= uri %>">
    <% } %>
  </head>
  <body base="<%= base %>" api="<%= locals.api %>">
    <%- include("header") %>
    <main>
      <% if (!locals.item) { %>
        <h2><%= title %></h2>
        <% if (locals.uri) { %>
          <p>
            <a href="<%= uri %>"><%= uri %></a> not found
          </p>
        <% } %>
      <% } %>
      <div id="app"></div>
    </main>
    <%- include("footer") %>
  </body>
  <% if (locals.item) { %>
    <script type="application/ld+json" id="item">
      <%- JSON.stringify(item).replaceAll('<','\u003C') %>
    </script>
  <% } %>
</html>
