<% if (item) { %>
  <script type="application/ld+json" id="item">
    <%- JSON.stringify(item).replaceAll('<','\u003C') %>
  </script>
  <div id="app">
    <!-- TODO: minimal preview without client side JavaScript -->
    <%= item.prefLabel?.en %>
    uri: <a href="<%= uri %>"><%= uri %></a>
  </div>
<% } else { %>
  <p>
    <a href="<%= uri %>"><%= uri %></a> not found
  </p>
<% } %>
