<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      The application is configured to be served from root path
      <a href="<%= namespace.pathname %>"><%= namespace %></a>.
    </p>
    <p>
      To serve other content alongside this application, put the
      application behind a HTTP reverse proxy.
    </p>
    <p>
      Apache webserver settings for <code><%= namespace.host %></code> would be:
    </p>
<pre><code>
ProxyPass <%= namespace.pathname %> http://localhost:<%= port %><%= namespace.pathname %>
ProxyPassReverse <%= namespace.pathname %> http://localhost:<%= port %><%= namespace.pathname %>
</code></pre>
  </body>
</html>
