<p>
  Unter <a href="<%= namespace.pathname %>"><%= namespace %></a>
  können <b>kontrollierte Vokabulare</b> (Normdateien, Klassifikationen, Thesauri...)
  in einer Webansicht und als Linked Open Data abgerufen werden.
</p>
<p>
  Die Daten stammen von <code><%= backend %></code> und werden mittels
  <a href="<%= homepage %>"><%= name %></a> umgesetzt.
</p>
<p>
  Die Darstellung und Funktionalität werden derzeit (2023) überarbeitet.
</p>

<!--
Aus der bisherigen Instanz:

Ausgewählte Systeme

- Basisklassifikation (BK)
- Lizenzen (license)
- Hornbostel-Sachs-Systematik (hornbostelsachs)

Weitere Systeme

BARTOC erfasst alle im GBV relevanten Normdateien und Terminologien. Einträge aus BARTOC können nach JSKOS umgesetzt hier abgerufen werden, z.B. http://bartoc.org/en/node/15.

- Systematik der Leibniz-Bibliographie (z.Z. offline): http://uri.gbv.de/terminology/leibniz
- Gattungsbegriffe der Arbeitsgemeinschaft Alte Drucke (AAD), in Vorbereitung
- Göttinger Online-Klassifikation (GOK), in Vorbereitung

-->
