<p>
  Unter <a href="<%= namespace.pathname %>"><%= namespace %></a>
  können <b>kontrollierte Vokabulare</b> (Normdateien, Klassifikationen, Thesauri...)
  in einer Webansicht und als Linked Open Data abgerufen werden.
</p>
<p>
  Die Daten stammen von <code><%= backend %></code> und werden mittels
  <a href="<%= homepage %>"><%= name %></a> umgesetzt.
</p>
<p>
  Die Darstellung und Funktionalität werden derzeit (2023) überarbeitet.
</p>
